*{
    box-sizing: border-box;
    margin: 0;
  }

  html{
    min-height: 100%;
  }
  h3{
    font-family: 'Creepster', cursive;
    font-size: 55px;
    text-align: center;
    color:#478486;
    border: 1px solid transparent;
  }
  .story{
    font-family: 'Rubik Microbe', cursive;
    display:none;
    color:crimson
  }
  img{
    display:none;
  }
  
  body{
    background-image: url("img/10.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
.box{
  width:420px;
  height:600px;
  margin: 0 auto;
  border: 10px solid transparent;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color:transparent;
  
}

.inner-box{
  border:3px solid black;
  width: 360px;
  height: 560px;
  padding: 20px;
  margin: 20px;
  background-color:beige;
  
}
  .container{
    width:200px;
    height: 250px;
    cursor: pointer;
  
  }

 


  .container_box{
    width: 300px;
    height:150px;
    margin-top: 6px;
    color: darkred;
    border: 1px solid lightgoldenrodyellow;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: goldenrod;
    padding: 10px 10px;
    
  }

  .container_box:hover{
    color:darkred;
   
  }

  #left{
    background-image: url("img/28.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
#right{
    background-image: url("img/28.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    color: white;;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left:165px;
    margin-top: 220px;
    
}





#next-page {
  border-radius: 4px;
  background-color: #478486;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 500px;
  display:none;
}

#next-page span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#next-page span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#next-page:hover span {
  padding-right: 25px;
}

#next-page:hover span:after {
  opacity: 1;
  right: 0;
}




#get-btn {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:crimson;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display:none;
  margin-left: 500px;;
}

#get-btn:hover {
  background-color: #3e8e41
}

#get-btn:active {
  background-color:#478486;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#welcome {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff9a;
  background-color:rgb(14, 44, 61);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #1b1b1b;
  margin-left: 500px;
  margin-top: 200px;
}

#welcome:hover {
  background-color: #3e8e41
}

#welcome:active {
  background-color:hsl(182, 40%, 70%);
  box-shadow: 0 5px #8a5252;
  transform: translateY(4px);
}

/***** Media Queries ****/

@media only screen and (max-width: 600px) {
  /*welcome button*/
  #welcome, #get-btn, #next-page {
    margin-left: 127px;
  }
  
}
@media only screen and (min-width: 600px) {
  #welcome, #get-btn, #next-page {
    margin-left:230px;
  }
  
}

@media only screen and (min-width: 992px) {
   /*welcome button*/
   
  
}

@media only screen and (min-width: 768px) {
  /*all button*/
  #welcome, #get-btn, #next-page{
    margin-left: 300px;
  }

}

@media only screen and (min-width: 992px) {
  /*welcome button*/
  
}

@media only screen and (min-width: 1200px) {
  /*welcome button*/
  #welcome, #get-btn, #next-page{
    margin-left: 480px;
  }
}